

// ===============Screen Readers======================//

%srt {
    visibility: hidden;
}


// =============== HELPERS ======================//

//Centered
%centered {
    text-align: center;
}

//Remove underline from links
%text-dec-none {
    text-decoration: none;
}

//Margin auto 
%margin-auto {
    margin: 0 auto;
}

%btn {
    border-radius: 5px;
    border-style: none;
    padding: 15px; 
    color: $white;
    font-size: 13px;
    font-weight: $font-wt-bold;
}

%input {
    border-radius: 5px;
    border-style: none;
    border: 1px solid lightgray;
    padding: 10px;
}


