

// ===============Screen Readers======================//

%srt {
    visibility: hidden;
}


// =============== HELPERS ======================//

//Centered
%centered {
    text-align: center;
}

//Remove underline from links
%text-dec-none {
    text-decoration: none;
}

//Margin auto 
%margin-auto {
    margin: 0 auto;
}


