

// [class^="btn--"] {
//      @extend %btn;  
//     }

.btn {
    @include m(message-send) {
        background-color: $primary-color;
        @extend %btn;

    }

    @include m(settings-save) {
        background-color: $primary-color;
        @extend %btn;
        width: 35%;
    }

    @include m(settings-cancel) {
        background-color: lightgray;
        @extend %btn;
        width: 35%;
    }
}


