.traffic-bar {
    margin: 0px 20px;

    @include mq(medium) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.chart-filter {
    .selected {
        background-color: $pastel; 
        color: $white; 
    }

    color: #939ca0;

    @include mq(medium) {
        display: flex;
        flex-direction: row;
    }
    
    button {
        @extend %crt-btn;
    }
}




.daily-traffic, 
.mobile-users {
    padding-bottom: 0;
}
