

.search {
    width: 40%;
    padding-left: 15px;
    margin: 10px 5px 10px 0;
    border-style: none;
    border: 1px solid lightgrey;
    @extend %br;

    &-container {
        background-color: #faf8f8;
    }
}

input::placeholder,
textarea::placeholder {
    color: lightgrey;
    font-size: 14px;
}

select {
    width: 100%;
    font-size: 14px;
    color: lightgrey;
    &:focus {
        color:rgb(41, 40, 40);
    }
}

.message-user {
    .user--search {
        @extend %input;
    }

    .user--message {
        @extend %input;
        padding-bottom: 85px;
        margin: 15px 0 15px 0;
    }
}
// ======================================================
// =================TOGGLE SWITCH=========================
