
//flex for grids
.grid {
    @include mq(medium) {
        @include e(row) {
            @include flex(flex);
        }
    }
}

.dashboard-container {
    @include flex(flex, column, $flex: 1);
    [class^="grid__col--"] {
        @include flex(flex, column, $flex: 1);
    }
}

.nav-vertical {
    @include flex(flex, row, $just: center);
    background-color: $secondary-color;  
    @include mq(medium) {
        @include flex(flex, column, $just: baseline);
    }
}

.grid__col--3 ,
.grid__col--4 ,
.grid__col--5 ,
.grid__col--6 ,
.grid__col--7 {
    padding: 10px 25px 60px 25px;
    border-top: solid 1px lightgrey;

    &:first-child {
    border-right: solid 1px lightgrey;
    }
}

.main-container {
    @include mq(medium) {
        display: flex;
        flex-direction: row;
    }
}

.dashboard {
    flex: 0 !important;
    padding: 0 25px;
    border-right: 1px solid lightgrey;
    
    h2 {
        color: grey;
        font-size: 20px;
        font-weight: 400;
    }
}

.dashboard-container {
    .grid__row {
        justify-content: space-between;
    }
}

.search-container {
    display: flex;
    border-bottom: 1px solid lightgrey;
    width: 100%;
    justify-content: flex-end;
}
