
//SEND BUTTON MODAL
.modal {
    @extend %modal-overlay;

    &-content {
        background-color: $primary-color;        
        border: 1px solid $secondary-color;
        margin: 15% auto;
        padding: em(20px);
        width: 50%;
        @extend %br;

        p {
            color: $white;
            font-size: em(17px);
        }
    }
}

.closeModal {
    color: $white;
    float: right;
    font-size: em(23px);
    font-weight: $font-wt-bold;
    
    &:hover {
        cursor: pointer;
        color: lightgrey;
    }
}

.overlay__notification {
    @extend %modal-overlay;
    color:rgba(53, 53, 53, 0.89);
    

    .verification {
        width: 95%;
        height: 125px;
        margin: 20px auto 0 auto;
        background-color: $white;
        @include flex(flex, row, $align: center);

        @include mq(medium) {
            width: 50%;
        }

        @include m(img) {
            width: 100px;
            margin: 0 10px 0 20px;
        }

        @include e(content) {
            @include flex(flex, wrap, $wrap: wrap);
        
            p {
                width: 80%;
                margin: 0;
            }
    
            h1 {
                width: 90%;
                font-size: 25px;
                margin: 0 0 10px 0;
            }
        }        
    }

    .message {
        width: 95%;
        height: 125px;
        margin: 20 auto 0 auto;
        background-color: $white;
        @include flex(flex, row, $align: center);

        @include mq(medium) {
            width: 50%;
        }

        @include m(img) {
            width: 80px;
            margin: 0 20px 0 30px;
        }

        @include e(content) {
            width: 100%;
            @include flex(flex, row, $wrap: wrap);

            p {
                margin: 0;
            }
        
            h1 {
                width: 90%;
                margin: 0 0 10px 0;
                font-size: 25px;
            }
        }
    }   
}



