//////////////
///MAIN NAV///
//////////////

.nav {
    //nav container
    &-container {
        background-color: $primary-color;
        color: $white;
        @include flex(flex, row, $just: space-between, $align: center);
    }
    //nav heading
    @include e(heading) {
        font-size: em(17px);
        margin: em(20px) em(20px);

        span {
            font-weight: $font-wt-thin;
        }
    }
    //nav ul list
    @include e(list) {
        @include flex(flex, row, $align: center);
    }
    //nav list items
    @include e(item) {
        font-size: 13px;
        margin-left: em(10px);
        font-weight: $font-wt-thin;
        &:first-child {
            margin-right: em(10px);
        }
    }
    //notification dot
    @include m(circle){
        border-radius: 50%;
        width: em(6px);
        height: em(6px);
        background-color: $pastel;
        position: relative;
        top: em(-15px);
        right: em(155px);
    }  
}

//////////////////
///VERTICAL NAV///
//////////////////

.nav {
    &-vertical {
        background-color: $secondary-color;  
        margin: 0;
        padding-top: 15px;
        @include flex(flex, row, $just: center);

        @include mq(medium) {
            @include flex(flex, column, $just: baseline);
            padding-left: 20px;
        } 
    }

    //list items
    @include e(item-vertical) {
        width: 60px;

        // @include mq(medium) {
        //     &:first-child {
        //         margin-top: em(20px);
        //     }
        // }
    }
   
}

