body {
    font-family: $stack-roboto;
    // min-width: 378px;
    max-width: 1024px;
    min-width: 380px;
    margin: 0 auto;
}


.alert {
    @extend %prim-bckgrnd;    
    color: $white;
    border-radius: 2px;
    margin: 20px;
    font-size: 13px;

    span {
        font-weight: $font-wt-bold;
        font-size: 14px;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15px;
        align-items: center;
        font-weight: 100;
        font-size: 12px;
        
    }

    &-close {
        position: relative;
        font-weight: $font-wt-bold;
        font-size: 18px;
    }
}
