body {
    font-family: $stack-openSans;
    // min-width: 378px;
    max-width: 1024px;
    min-width: 380px;
    margin: 0 auto;
}


.alert {
    @extend %prim-bckgrnd;    
    color: $white;
    border-radius: 2px;
    margin: 20px;
    font-size: 13px;

    &-close {
        position: relative;
        font-weight: $font-wt-bold;
        font-size: 18px;
    }
}

.traffic-bar {
    p {
        
    }
}